## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
build/
bin/
obj/

## Visual Studio cache and settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## OS files
.DS_Store
Thumbs.db
